@media screen and (max-width:480px) {
    @font-face {
    font-family: "Rocket-Vintage";
    src: url(../font/Rocket\ Vintage.ttf);
    }
    body {
        font-family: 'Advent Pro', sans-serif;
    }
    
    .navbar {
        background-color: #727272;
    }
    .navbar-brand {
        font-size: 40px;
    }
    .nav-link {
        font-size: 20px;
    }
    .navbar-toggler {
        width: 60px;
        height: 40px;
        border-radius: 20px;
        background-color: #383a3f;
    }
    .main-index {
        padding: 20px;
        background: url("../img/background.jpg");
        border-bottom:  1px solid black;
        border-top: 3px solid black;
    }
    .container {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 100%;
    }
    .main-body img {
        height: 120px;
        float: left;
    }
    .main-item-1 {
        width: 45%;
    }
    .main-item-2 {
        width: 45%;
    }
    .main-item-3 {
        width: 45%;
    }
    .main-item-4 {
        width: 45%;
    }
    .main-item-5 {
        width: 45%;
    }
    .main-item-6 {
        width: 45%;
    }
    .main-item-7 {
        width: 45%;
    }
    .main-item-8 {
        width: 45%;
    }
    .main-item-9 {
        width: 45%;
    }
    /*Footer*/
    footer {
        background-color: #333333;
        height: auto;
    }
    .footer-adress {
        color: #FFF;
        font-size: 15px;
        text-align: center;
        padding-top: 25px;
        letter-spacing: 1px;
    }
    .footer-social {
        margin-top: 50px;
    }
    .payment img {
        height: 30px;
        margin: 0 20px;
    }
    .social-link {
        display:block;
        font-size: 40px;
        right: 10px;
    }
    .social-link a {
    color: black;
    }
    .social-link {
        margin-top: 100px;
    }
     }
    @media screen and (min-width:480px) and (max-width: 2000px) {
    @font-face {
    font-family: "Rocket-Vintage";
    src: url(../font/Rocket\ Vintage.ttf);
    }
    body {
        font-family: 'Advent Pro', sans-serif;
    }
    
    .navbar {
        background-color: #727272;
    }
    .navbar-brand {
        font-size: 80px;
    }
    .nav-link {
        font-size: 40px;
    }
    .navbar-toggler {
        width: 80px;
        height: 80px;
        border-radius: 20px;
        background-color: #383a3f;
    }
    .main-index {
        padding: 75px;
        background: url("../img/background.jpg");
        border-bottom:  1px solid black;
        border-top: 3px solid black;
    }
    .main-body {
        display: flex;
    }
    .main-body img {
        height: 290px;
        float: left;
    }
    .main-item-1 {
        width: 35%;
    }
    .main-item-2 {
        width: 37%;
    }
    .main-item-3 {
        width: 28%;
    }
    .main-item-4 {
        width: 33.3%;
    }
    .main-item-5 {
        width: 33.3%;
    }
    .main-item-6 {
        width: 33.3%;
    }
    .main-item-7 {
        width: 33.3%;
    }
    .main-item-8 {
        width: 25%;
    }
    .main-item-9 {
        width: 41.7%;
    }
    /*Footer*/
    footer {
        background-color: #333333;
        height: auto;
    }
    .footer-adress {
        color: #FFF;
        font-size: 30px;
        text-align: center;
        padding-top: 25px;
        letter-spacing: 1px;
    }
    .footer-social {
        margin-top: 50px;
    }
    .payment img {
        height: 50px;
        margin: 0 20px;
    }
    .social-link {
        font-size: 50px;
        right: 20px;
    }
    .social-link a {
    color: black;
    }
    .footer-social img {
        margin-bottom: 30px;
    }
    .social-link {
        margin-top: 100px;
    }
    }
    